<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="-->
<!--        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--    &lt;!&ndash; bean definitions here &ndash;&gt;-->
<!--    <bean id="alien" class="org.telusko.Alien">-->
<!--        <property name="age" value="21"/>-->
<!--        <property name="lap" ref="laptop1"/>-->
<!--&lt;!&ndash;        <property name="desktop" ref="desktop1"/>&ndash;&gt;-->
<!--        <property name="phone" >-->
<!--            <bean id="phone1" class="org.telusko.Phone"/> &lt;!&ndash; inner bean&ndash;&gt;-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="laptop1" class="org.telusko.Laptop" primary="true"/>-->
<!--    <bean id="desktop1" class="org.telusko.Desktop" lazy-init="true"/>-->

<!--</beans>-->