<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->     <!--    create objects all mentioned below-->
<!--    <bean id="alien" class="org.telusko.Alien" scope="prototype"/>-->


    <bean id="alien" class="org.telusko.Alien">
        <property name="age" value="21"> </property>
        <property name="laptop" ref="lap1"> </property>
    </bean>

    <bean id="lap1" class="org.telusko.Laptop">

    </bean>


</beans>