<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien" class="org.telusko.Alien">
<!--  1.      <constructor-arg name="age" value="21"/>-->
<!--        <constructor-arg name="lap" ref="laptop1"/>-->

<!-- best way-->
<!--   2. -->    <constructor-arg index="0" value="21"/>
                 <constructor-arg index="1" ref="laptop1"/>
                 <constructor-arg index="2" value="100000"/>

<!--    3.    <constructor-arg type="int" value="21"/>-->
<!--        <constructor-arg type="org.telusko.Laptop" ref="laptop1"/>-->

    </bean>
    <bean id="laptop1" class="org.telusko.Laptop"/>

</beans>